.upload_container {
	padding: 20px;
	max-width: 500px;
	/* position: absolute;
	top: 50%;
	left: 50%; */
	/* transform: translate(-50%, -50%); */
}

.upload__form {
	display: flex;
	flex-direction: column;
}
.upload_input {
	padding: 5px;
}

.upload_textarea {
	/* display: block;
	width: 500px;
	height: 500px; */
	/* resize: none; */
	width: 100%;
	/* height: 100px; */
	/* font-size: 24px; */
	resize: none;
}

.upload_label {
	font-weight: 500;
}

.upload_label,
.input_file {
	margin-top: 20px;
}

.upload_button {
	margin-top: 10px;
	background-color: tomato;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 8px;
	color: white;
	font-size: 16px;
	cursor: pointer;
}
